@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body {
  padding: 100px;
  background-color: #efefef;
  font-family: 'Itim', cursive;
}

h1 {
  color: purple
}

p {
  padding: 10px;
  background-color: #999;
}